{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<article class="text-white mt-3">
    <div class="container mt-3">
        <div class="row">
            {% if messages %}
            <div class="col-12">
                {% for message in messages %}
                <div class="alert alert-danger text-center">{{ message }}</div>
                {% endfor %}
            </div>
            {% endif %}
            {% include 'trips/trips_search_form.html' %}
        </div>
    </div>
</article>
{% endblock %}

{% block postload_js %}
{% endblock %}