{% block content %}
<div class="sidebar">
    <div class="list-group list-group-flush">
        <a href="{% url 'profiles:account_details' %}" 
           class="nav-link {% if request.resolver_match.url_name == 'account_details' %}active{% endif %}">
            <i class="bi bi-person-badge-fill"></i> Account Details
        </a>
        <a href="{% url 'profiles:personal_info' %}" 
           class="nav-link {% if request.resolver_match.url_name == 'personal_info' %}active{% endif %}">
            <i class="bi bi-person-lines-fill"></i> Personal Info
        </a>
        <a href="{% url 'profiles:my_bookings' %}"
           class="nav-link {% if request.resolver_match.url_name == 'my_bookings' %}active{% endif %}">
            <i class="bi bi-calendar-check-fill mr-2"></i> Upcoming Trips
        </a>
        <a href="{% url 'manage_booking:booking_list' %}"
           class="nav-link {% if request.resolver_match.url_name == 'manage_booking' %}active{% endif %}">
            <i class="bi bi-journal-check"></i> Manage Bookings
        </a>
        <a href="{% url 'account_logout' %}" class="nav-link text-danger mt-3">
            <i class="bi bi-box-arrow-right"></i> Log Out
        </a>
    </div>
</div>
{% endblock %}