{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'staff_app/staff_app.css' %}">
{% endblock %}

{% block content %}
<div class="staff-app-display">
    <div class="row">
        <div class="col-md-3 mb-md-3">
            <div class="sidebar mb-3">
                <div class="list-group list-group-flush">
                    <nav class="mb-4">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link {% if request.resolver_match.url_name == 'dashboard' %}active{% endif %}" href="{% url 'staff_app:dashboard' %}">
                                    <i class="fas fa-tachometer-alt me-2"></i> Dashboard
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if 'trip' in request.resolver_match.url_name %}active{% endif %}" href="{% url 'staff_app:trips_list' %}">
                                    <i class="fas fa-route me-2"></i> Trips
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if 'booking' in request.resolver_match.url_name %}active{% endif %}" href="{% url 'staff_app:bookings_list' %}">
                                    <i class="fas fa-ticket-alt me-2"></i> Bookings
                                </a>
                            </li>
                                <a class="nav-link" href="{% url 'account:account_details' %}">
                                    <i class="fa-solid fa-angle-left"></i> Back to My Account
                                </a>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'home' %}">
                                    <i class="fas fa-home me-2"></i> Back to Site
                                </a>
                            </li>
                            <li class="nav-item mt-auto">
                                <a class="nav-link text-danger" href="{% url 'account_logout' %}">
                                    <i class="fas fa-sign-out-alt me-2"></i> Logout
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="content staff-app-content">
                {% block staff_app_content %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
