{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="container manage-booking-container">
    <div class="row">
        <div class="col-md-3 mb-3">
            <div class="sidebar">
                <h2 class="text-center mb-4">Manage Bookings</h2>
                <div class="list-group list-group-flush">
                    <a href="{% url 'manage_booking:confirmed_bookings' %}"
                        class="nav-link {% if request.resolver_match.url_name == 'confirmed_bookings' %}active{% endif %}">
                        <i class="bi bi-person-badge-fill"></i> Confirmed Bookings
                    </a>
                    <a href="{% url 'manage_booking:pending_payment' %}"
                        class="nav-link {% if request.resolver_match.url_name == 'pending_payment' %}active{% endif %}">
                        <i class="bi bi-person-lines-fill"></i> Pending Payment
                    </a>
                    <a href="{% url 'manage_booking:payment_refund' %}"
                        class="nav-link {% if request.resolver_match.url_name == 'payment_refund' %}active{% endif %}">
                        <i class="fa-solid fa-money-check-dollar"></i> Payment Refund
                    </a>
                    <a href="{% url 'manage_booking:canceled_bookings' %}"
                        class="nav-link {% if request.resolver_match.url_name == 'canceled_bookings' %}active{% endif %}">
                        <i class="fa-solid fa-rectangle-xmark"></i> Canceled Bookings
                    </a>
                    <a href="{% url 'manage_booking:all_bookings' %}"
                        class="nav-link {% if request.resolver_match.url_name == 'all_bookings' %}active{% endif %}">
                        <i class="fa-solid fa-list-ul"></i> All Bookings
                    </a>
                    <a href="{% url 'account_logout' %}" class="nav-link text-danger mt-3">
                        <i class="bi bi-box-arrow-right"></i> Log Out
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="main-content">
                {% block manage_booking_content %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>
{% endblock %}